#不上传RDta 和Rhistory
~$*
*.RData
.Rhistory
#参考文献涉及版权问题，不上传
2.Materials/Reference/
#vscode代码不上传，程序代码也不上传
3.Methods/.vscode
3.Methods/code_demo/day1
#淑婷的毕业论文相关数据太大，不上传。（上传了清洗出来的数据，汇总数据没上传）
4.Analysis/Analysis_data_Sunst/Graduation
#数据部分不上传，由于内存太大，上传群晖云盘
6.Raw_data
#git 和Rpro的内容不上传
.Rproj.user
.git
